<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        <div class="wrap">
            <header>
                <h1>BookBoard</h1>
            </header>
            <aside>
                <div class="profile">
                    <div class="member-name">{{'안녕하세요! ' + members.nickname + '님'}}</div>
                    <div class="half">
                        <div class="count">팔로잉 : {{followingCount}} 팔로워 : {{followerCount}}</div>
                    </div>
                    <div class="headersrc">
                        <input id="my-id" type="hidden" value="{{member.id}}">
                        <a id="creaet-post" href="/post" class="btn">글쓰기</a>
                        <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
                    </div>
                    {% if members.nickname === 'admin' %}
                    <li><a id="dailynote" href="/dailynote">DailyNote 작성(관리자 전용)</a></li>
                    {% endif %}
                </div>
                <div class="navi">
                    <ul>
                        <li><a href="/myboard" class="a-btn"> My Board</a></li>
                        <li><a id="my-profile" href="/profile" class="a-btn"> My Friend</a></li>
                        <li><a href=""class="a-btn">Follower's Board</a></li>
                    </ul>
                </div>
            </aside>
            <section>
                <article>
                    <div class="twits">
                        {% for twit in twits %}
                        <div class="twit">
                            <input type="hidden" value="{{twit.Member.id}}" class="twit-member-id">
                            <input type="hidden" value="{{twit.id}}" class="twit-id">
                            <div class="twit-author">작성자 : {{twit.Member.nickname}}</div>

                            <!--내 팔로워 아이디 목록에 게시즐 작성자 아이디가 없으면 팔로우 버튼을 보여줌-->
                            {% if not followerIdList.includes(twit.Member.id) and twit.Member.id !== members.id %}
                            <!-- <button class="twit-follow">팔로우 하기</button> -->
                            {% endif %}
                            <div class="twit-bookname">제목 : {{twit.bookName}}</div>
                            <div class="twit-author">작가 : {{twit.author}}</div>
                            <div class="twit-publisher">출판사 : {{twit.publisher}}</div>
                            <div class="twit-genre">장르 : {{twit.genre}}</div>
                            <div class="twit-ISBN">ISBN : {{twit.ISBN}}</div>
                            <div class="twit-content">내용 : {{twit.content}}</div>
                            {% if twit.img %}
                            <div class="twit-img"><img src="{{twit.img}}" alt="썸네일"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </article>
            </section>
        </div>
    </div>
    <footer>
        Made by&nbsp;
        <a href="https://drink-vita.tistory.com/" target="_blank">SG's Blog</a>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('loginError')) {
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        };
        document.querySelectorAll('.twit-follow').forEach(function (tag) {
            tag.addEventListener('click', function () {
                const myId = document.querySelector('#my-id');
                if (myId) {
                    const memberId = tag.parentNode.querySelector('.twit-member-id').value;
                    if (memberId !== myId.value) {
                        if (confirm('팔로잉 하시겠습니까?')) {
                            axios.post(`/member/${memberId}/follow`)
                                .then(() => {
                                    location.reload();
                                })
                                .catch((err) => {
                                    console.error(err);
                                });
                        }
                    }
                }
            });
        });
        document.getElementById('kakao-login').addEventListener('click', function () {
            console.log('카카오 로그인 버튼 클릭됨');
            location.href = '/auth/kakao';
        });
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>