<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div class="timeline">
        <div class="followings half">
            <h2>팔로잉 목록</h2>
            <div>{{followList}}</div>
            <div>{{member.Followings}}</div>
            {% if member.Followings %}
            {% for following in member.Followings %}
            <div>1{{following.nickname}}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="followers half">
            <h2>팔로워 목록</h2>
            {% if member.Followers %}
            {% for follower in member.Followers %}
            <div>{{follower.nickname}}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>