/* join.html의 css 코드 작성*/
#join-form { padding: 10px; text-align: center; }
#join-btn{
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    align-content: center;
}
@media screen{
    .container { width: 200px; margin: 0 auto;}
}

.join-wrap {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
}
@media screen{
    .join-wrap { width: 290px; margin-bottom: 0; }
}
  
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }

